<plugin xmlns="http://www.urbancode.com/PluginXMLSchema_v1"
        xmlns:server="http://www.urbancode.com/PluginServerXMLSchema_v1"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <header>
    <identifier id="com.pacgenesis.was.ext.plugin.WebSphere" version="2" name="WAS - Deploy - Ext"/>
    <description>
This plugin provides extensions to current WebSphere Application Server (WAS - Deploy - Ext) plugin
    </description>
    <tag>Application Server/Java/WebSphere/Deployment/Ext</tag>
    <server:required-server-version>6.1.1.2</server:required-server-version>
  </header>
  <step-type name="BuildModuleToServerMap">
    <description>Map a target(server/cluster) to a list of modules of an Enterprise Application.</description>
    <properties>
      <property name="cAppName" required="true">
        <server:property-ui type="textBox" label="Application Name" default-value="" description="The name of the application component resource being installed (Used for WebSphere reference)."/>
      </property>
      <property name="agent">
        <server:property-ui type="textBox" label="Agent Name" default-value="${p?:agent.name}" description="The name of the agent." hidden="true"/>
      </property>
      <property name="app">
        <server:property-ui type="textBox" label="UCD App" default-value="${p?:application.name}" description="The name of the application." hidden="true"/>
      </property>
      <property name="env">
        <server:property-ui type="textBox" label="UCD Environment" default-value="${p?:environment.name}" description="The name of the application." hidden="true"/>
      </property>
      <property name="appName" required="true">
        <server:property-ui type="textBox" label="Component Resource Name" default-value="${p?:component.name}" description="The name of the application component resource being installed (Used for WebSphere reference)." hidden="true"/>
      </property>
      <property name="resourceId" required="true">
        <server:property-ui type="textBox" label="Resource ID" default-value="${p?:resource.id}" description="Resource ID" hidden="true"/>
      </property>
      <property name="componentId" required="true">
        <server:property-ui type="textBox" label="Component ID" default-value="${p?:component.id}" description="Component ID" hidden="true"/>
      </property>
      <property name="versionId" required="true">
        <server:property-ui type="textBox" label="Version ID" default-value="${p?:version.id}" description="version ID" hidden="true"/>
      </property>
      <property name="requestId" required="true">
        <server:property-ui type="textBox" label="Request ID" default-value="${p?:request.id}" description="request ID" hidden="true"/>
      </property>
      <property name="filterTag" required="false">
        <server:property-ui type="textBox" label="Filter Tag" description="Tag to use as resource filter."/>
      </property>
      <property name="moduleList" required="true">
        <server:property-ui type="textAreaBox" label="Module Names" description="The URIs for the modules. e.g. PlantsByWebSphere.war,WEB-INF/web.xml"/>
      </property>
      <property name="moduleMappingPropery" required="true">
        <server:property-ui type="textBox" label="Output Map Property" default-value="map.argument" description="The output property name to set with Module Map argument." hidden="true"/>
      </property>
      <property name="scriptFile">
        <server:property-ui type="textBox" label="Script File" description="Name of the script file to be created or appended to." default-value="${p:request.id}.py"/>
      </property>
      <property name="cell">
        <server:property-ui type="textBox" label="Cell Name" default-value="${p?:resource/websphere.cell}" description="The name of the cell to be administered." hidden="true"/>
      </property>
      <property name="node">
        <server:property-ui type="textBox" label="Node Name" default-value="${p?:resource/websphere.node}" description="The name of the node to be administered." hidden="true"/>
      </property>
      <property name="server">
        <server:property-ui type="textBox" label="Server Name" default-value="${p?:resource/websphere.server}" description="The name of the server to be administered." hidden="true"/>
      </property>
      <property name="cluster">
        <server:property-ui type="textBox" label="Cluster Name" default-value="${p?:resource/websphere.cluster}" description="The name of the cluster to be administered." hidden="true"/>
      </property>
      <property name="commandPath">
        <server:property-ui type="textBox" label="Command Path" default-value="${p?:resource/websphere.commandPath}" description="The directory location of the wsadmin command-line executable: e.g., /opt/IBM/WebSphere/AppServer/bin/." hidden="true"/>
      </property>
      <property name="user">
        <server:property-ui type="textBox" label="User Name" default-value="${p?:resource/websphere.user}" description="The user name to be used to connect to the WebSphere Node." hidden="true"/>
      </property>
      <property name="password">
        <server:property-ui type="secureBox" label="Password" default-value="${p?:resource/websphere.password}" description="The password to be used to connect to the WebSphere Node." hidden="true"/>
      </property>
      <property name="host">
        <server:property-ui type="textBox" default-value="${p?:resource/websphere.host}" label="Host" description="Hostname of the server to connect to." hidden="true"/>
      </property>
      <property name="port">
        <server:property-ui type="textBox" default-value="${p?:resource/websphere.port}" label="Port" description="The port to connect to." hidden="true"/>
      </property>
      <property name="connType" required="true">
        <server:property-ui type="selectBox" label="Connection Type" default-value="${p?:resource/websphere.connType}" description="The type of connection to use with wsadmin." hidden="true"/>
        <value label="SOAP">SOAP</value>
        <value label="RMI">RMI</value>
        <value label="NONE">NONE</value>
      </property>
     </properties>
    <post-processing><![CDATA[
        if (properties.get("exitCode") != 0) {
            properties.put(new java.lang.String("Status"), new java.lang.String("Failure"));
        }
        else {
            properties.put("Status", "Success");
        }
     ]]></post-processing>
    <command program="${GROOVY_HOME}/bin/groovy">
      <arg value="-cp"/>
      <arg path="bin:lib/uDeployRestClient.jar:lib/jettison-1.1.jar"/>
      <arg file="build_module_to_target_map_arg.groovy"/>
      <arg file="${PLUGIN_INPUT_PROPS}"/>
      <arg file="${PLUGIN_OUTPUT_PROPS}"/>
    </command>
  </step-type>
</plugin>